$creamyColor: #886f84;
// $creamyColor: #fff;

.homePage {
  height: 90vh;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .sideImg {
    img {
      width: 100%;
    }
  }

  #landingSection {
    min-height: 90vh;
    .bgImg {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 70%;
      background-color: rgb(248, 248, 255);
      z-index: -2;
    }

    .container {
      max-width: 1700px !important;
    }

    .row {
      height: 100%;
    }
  }

  .landingContent {
    height: 100%;
    margin-left: 10%;
    h1 {
      font-weight: 600;
    }
    p {
      font-weight: bold;
      margin-top: 20px;
    }
  }

  .btns {
    margin-top: 40px;
    display: flex;
  }

  .sizedBox {
    width: 20px;
  }

  .userCentricImg {
    min-height: 150vh;
    padding: 20px;
    img {
      width: 0%;
    }
  }

  #sagaSection {
    margin: 200px 0px;

    .headerContent {
      width: 90%;
    }

    h1 {
      font-weight: 600;
    }

    .imgContainer-lg {
      img {
        width: 90%;
        margin-left: 8%;
      }
    }

    .imgContainer-sm {
      display: none !important;
      img {
        width: 90%;
      }
    }
  }

  // expertise section
  #expertiseSection {
    background-color: #1492e6;
    min-height: 100vh;
    width: 100vw;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .expertiseRow {
      height: 100%;

      .imgContainer {
        width: 200px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
    }
  }

  // who are we section
  #whoAreWeSection {
    width: 100vw;
    background-color: #ebe9e9;
    padding: 150px 0px;

    .content {
      p {
        margin: 0px;
      }
    }

    .row {
      height: 100%;
    }

    h3 {
      color: #1492e6;
      font-size: 16px;
      margin-top: 10px;
    }

    .imgContainer {
      margin-bottom: 20px;
      height: 200px;
      width: 200px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  // check product section
  #checkProductSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

    p:nth-last-child(2) {
      margin-bottom: 50px;
    }

    .display-4 {
      font-size: 42px !important;
    }

    .sizedBox {
      height: 30px;
    }

    .row {
      height: 100%;
    }
  }

  // footer
  #footer {
    background-color: rgb(32, 32, 32);
    height: 50vh;
  }

  @media screen and (max-width: 992px) {
    #sagaSection {
      .imgContainer-lg {
        display: none !important;
      }
      .imgContainer-sm {
        display: flex !important;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .landingContent {
      margin: 50px 0px;
      h1 {
        font-size: 50px !important;
      }
    }

    #checkProductSection {
      .display-4 {
        font-size: 32px !important;
      }
    }
  }

  @media screen and (max-width: 700px) {
    #checkProductSection {
      .display-4 {
        font-size: 26px !important;
      }
    }
  }

  @media screen and (max-width: 500px) {
    #sagaSection {
      margin: 50px 0px;
    }
  }
}
